<%= form_for([@voting, @question], layout: :horizontal) do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :description %>
  <%= f.hidden_field :voting_id, value: @voting.id %>

  <div>
    <%= link_to_add_association t('add_option'), f, :options, {'data-association-insertion-method' => 'after', wrapper: 'bootstrap' } %>
    <%= f.fields_for :options do |option| %>
      <%= render 'option_fields', f: option %>
    <% end %>
  </div>
  <%= f.submit t('submit') %>
<% end %>