<p>
  <strong> <%= t('voting') %>:</strong>
  <%= @question.voting_id %>
</p>

<p>
  <strong> <%= t('title') %>:</strong>
  <%= @question.title %>
</p>

<p>
  <strong> <%= t('description') %>:</strong>
  <%= @question.description %>
</p>

<%= link_to t('edit'), edit_voting_question_path(@voting, @question) %> |
<%= link_to t('back'), voting_questions_path(@voting) %>
