<p>
  <strong>Voting:</strong>
  <%= @question.voting_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<%= link_to 'Edit', edit_voting_question_path(@voting, @question) %> |
<%= link_to 'Back', voting_questions_path(@voting) %>
