<% if current_group %>
  <%= content_tag :div, class: "countdown-timer #{voting.status}", data: {finishes_at: voting.finishes_at&.to_s(:rfc822)} do %>
    <table>
      <caption class="sr-only">This table displays the time remaining until the voting is closed automatically</caption>
      <tr>
        <th colspan=3 scope="colgroup"><%= t('votings.voting_time') %></th>
      </tr>
      <tr class="timer-content">
        <td class="countdown-min"><%= minutes_timeout(voting).to_s.rjust(2, '0') %></td>
        <td>:</td>
        <td class="countdown-sec"><%= seconds_timeout(voting).to_s.rjust(2, '0')  %></td>
      </tr>
      <tr>
        <td><%= t('time.minutes') %></td>
        <td></td>
        <td><%= t('time.seconds') %></td>
      </tr>
    </table>
  <% end %>
<% end %>