<h3><%= question.title %></h3>
<p><%= question.description %></p>

<%= panel_row column_class: 'col-sm-6' do %>
  <%= panel heading: 'Results' do %>
    <%= question_results_table(question) %>
  <% end %>

  <%= panel heading: 'Bar chart' do %>
    <%= question_column_chart question %>
  <% end %>
<% end %>



