<h3><%= question.title %></h3>
<p><%= question.description %></p>

<%= panel_row column_class: 'col-sm-6' do %>
  <%= panel heading: t('results') do %>
    <%= question_results_table(question) %>
  <% end %>

  <%= panel heading: t('bar_chart') do %>
    <%= question_column_chart question %>
  <% end %>
<% end %>



