<div class="row">
  <% if @voting.finishes_at %>
    <div class="col-sm-3">
      <%= content_tag :div, class: 'countdown-timer', data: {finishes_at: @voting.finishes_at&.to_s(:rfc822)} do %>
        <table>
          <caption class="sr-only">This table displays the time remaining until the voting is closed automatically</caption>
          <tr>
            <th colspan=3 scope="colgroup">Tiempo de votación</th>
          </tr>
          <tr>
            <td class="countdown-min">--</td>
            <td>:</td>
            <td class="countdown-sec">--</td>
          </tr>
          <tr>
            <td>minutes</td>
            <td></td>
            <td>seconds</td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>
  <div class="col-sm-9">
    <%= simple_form_for voting, :url => voting_vote_path(voting), method: :post, layout: :horizontal do |f| %>
      <%= alert_box error, context: :danger if error.present? %>
      <%= alert_box t('errors.voting_not_open'), context: :warning if @voting.ready?%>
      <%= voting_questions_form(voting, f) %>
      <%= f.submit 'Emitir votos', disabled: @voting.ready? %>
    <% end %>
  </div>
</div>