<div class="row">
  <% if @voting.timeout_in_seconds %>
    <div class="col-sm-3">
      <%= render 'countdown_component', voting: @voting %>
    </div>
  <% end %>
  <div class="col-sm-9 vote-submission-form">
    <%= simple_form_for voting, :url => organization_voting_vote_path(@organization, voting), method: :post, layout: :horizontal do |f| %>
      <%= alert_box error, context: :danger if error.present? %>
      <%= alert_box t('errors.voting_not_open'), context: :warning if @voting.ready?%>
      <%= voting_questions_form(voting, f) %>
      <%= f.submit 'Emitir votos', disabled: @voting.ready?, class: 'btn btn-success vote-submission-button' %>
    <% end if current_group %>
  </div>
</div>