<h1><%= t('votings')%></h1>

<%= votings_table(@non_archived_votings) %>

<h2 data-toggle="collapse" href="#collapseExample">Votaciones archivadas</h2>
<div id="collapseExample" class="collapse">
  <%= votings_table(@archived_votings) %>
</div>

<%= alert_box t('no_votings') if @votings.none? %>
<br>

<%= link_to t('new_voting'), new_voting_path if can?(:create, Voting) %>