<h1><%= t('activerecord.models.voting.many').capitalize %></h1>

<div class="actions">
  <%= button_to t('votings.new'), new_organization_voting_path(@organization), method: :get, context: :primary %>
</div>

<%= votings_table(@organization, @non_archived_votings) %>

<h2 data-toggle="collapse" href="#collapseExample"><%= t('votings.archived') %></h2>
<div id="collapseExample" class="collapse">
  <%= votings_table(@organization, @archived_votings) %>
</div>

<%= alert_box t('messages.voting.none_active') if @votings.none? %>
<br>
