<h1><%= @voting.title %></h1>

<p>
  <strong>Description:</strong>
  <%= @voting.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @voting.status %>
</p>

<%= secret_voting_alert(@voting) %>

<% if @voting.finished? %>
  <h2>Results</h2>

  <% @voting.questions.each do |question| %>
    <%= render 'question_results', question: question %>
  <% end %>
<% end %>

<% if @voting.open? %>
  <%= render 'vote_submission_form', voting: @voting %>
<% end %>

<h2>Participation</h2>
<h3>Votes submitted</h3>
<%= groups_with_vote_submitted(@voting) %>

<h3>Pending votes</h3>
<%= groups_without_vote_submitted(@voting) %>

<h2>Links</h2>

<%= link_to 'Edit', edit_voting_path(@voting) %> |
<%= link_to 'Back', votings_path %> | 
<%= link_to 'Questions', voting_questions_path(@voting) %>
