<h1><%= @voting.title %></h1>

<%= secret_voting_alert(@voting) if @voting.open? %>

<% if @voting.description.present? %>
  <h2><%= t('description') %></h2>

  <%= @voting.description %>
<% end %>

<% if @voting.finished? || @voting.archived? %>
  <h2><%= t('results') %></h2>

  <% if @voting.is_a?(MultiselectVoting) %>
    <%= voting_column_chart(@voting) %>
  <% else %>
    <% @voting.questions.each do |question| %>
      <%= render 'question_results', question: question %>
    <% end %>
  <% end %>
<% end %>

<% if @voting.open? || @voting.ready?  %>
  <% if current_group&.voted?(@voting) %>
    <%= alert_box t('already_voted_message'), context: :success %>
    <%= button_to t('reload'), voting_path(@voting), class: 'b', form_class: 'f', method: :get, context: :primary %>
  <% else %>
    <%= render 'vote_submission_form', voting: @voting if can?(:vote, @voting) %>
  <% end %>
<% end %>

<% if current_user.admin? %>
  <h2><%= t('participation') %></h2>
  <h3><%= t('votes_submitted') %></h3>
  <%= groups_with_vote_submitted(@voting) %>

  <h3><%= t('pending_votes') %></h3>
  <%= groups_without_vote_submitted(@voting) %>
<% end %>

<%= link_to t('edit'), edit_voting_path(@voting) if can?(:edit, @voting) %>
<%= link_to t('back'), votings_path %>
<%= link_to t('questions'), voting_questions_path(@voting) if can?(:index, Question) %>
