<h1><%= @voting.title %></h1>

<p>
  <strong>Description:</strong>
  <%= @voting.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @voting.status %>
</p>

<h2>Results</h2>

<% @voting.questions.each do |question| %>
  <%= render 'question_results', question: question %>
<% end %>

<h2>Links</h2>

<%= link_to 'Edit', edit_voting_path(@voting) %> |
<%= link_to 'Back', votings_path %> | 
<%= link_to 'Questions', voting_questions_path(@voting) %>
