<%= index_title(Group) %>

<div class="actions">
  <%= button_to t('groups.new'), new_organization_group_path(@organization), method: :get, context: :primary %>
  <%= button_to t('groups.import'), bulk_upload_show_organization_groups_path(@organization), method: :get, context: :primary %>
  <%= button_to t('groups.reset_tokens'), reset_token_organization_groups_path(@organization) , method: :post, context: :warning, data: { confirm: t('groups.reset_tokens_confirmation') } %>
  <%= button_to t('groups.email_tokens'), email_token_organization_groups_path(@organization) , method: :post, context: :warning, data: { confirm: t('groups.token_emails_confirmation') } %>
</div>

<%= bootstrap_table(id: 'groups_index') do |table| %>
  <% table.headers = [
    *%w(name number).map { |h| t("activerecord.attributes.group.#{h}") },
    *@organization.bodies.pluck(:name),
    *%w(auth_token last_login).map { |h| t("activerecord.attributes.group.#{h}") },
    t('edit'),
    t('destroy', data: { confirm: 'Are you sure?' })
    ] %>
  <% @groups.each do |group| %>
    <% table.rows << [
      group.name,
      group.number,
      *@organization.bodies.map{|b| group.votes_in_body(b)},
      group.user.auth_token,
      group.user.last_sign_in_at ? distance_of_time_in_words(group.user.last_sign_in_at, Time.now) : t('never'),
      link_to( t('edit'), edit_organization_group_path(@organization, group)),
      link_to(t('destroy'), organization_group_path(@organization, group), method: :delete, data: { confirm: 'Are you sure?' })
    ] %>
  <% end %>
<% end %>

<br>
