<p>
  <strong> <%= t('name') %>:</strong>
  <%= @group.name %>
</p>

<% if @group.number %>
  <p>
    <strong> <%= t('activerecord.attributes.group.number') %>:</strong>
    <%= @group.number %>
  </p>
<% end %>

<p>
  <strong> <%= t('activerecord.attributes.group.available_votes') %>:</strong>
  <%= mail_vote_distribution(@group) %>
</p>

<%= link_to t('edit'), edit_organization_group_path(@organization, @group) if can?(:edit, @group) %>
