<p>
  <strong> <%= t('name') %>:</strong>
  <%= @group.name %>
</p>

<p>
  <strong> <%= t('number') %>:</strong>
  <%= @group.number %>
</p>

<p>
  <strong> <%= t('available_votes') %>:</strong>
  <%= @group.available_votes %>
</p>

<%= link_to t('edit'), edit_group_path(@group) %> |
<%= link_to t('back'), groups_path %>
