<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @option.title %>
</p>

<p>
  <strong>Question:</strong>
  <%= @option.question %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
