<!DOCTYPE html>
<html>
  <head>
    <title>Decide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render './navbar' %>
    <div id="main-container">
      <%= alert_box(notice, dismissible: true) if notice.present? %>
      <%= alert_box(alert, context: :danger, dismissible: true) if alert.present? %>
      <%= yield %>
    </div>
  </body>
</html>
